<%= turbo_frame_tag goal do %>
  <%= link_to edit_goal_path(goal), class: 'btn btn-link d-block text-decoration-none text-start' do %>
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          <%= goal.content %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
