<div class="vstack gap-3">
  <%= render 'application/title', title: 'KPTボード一覧' %>
  <div>
    <%= link_to '追加', new_kpt_board_path, class: 'btn btn-primary' %>
  </div>
  <%= turbo_frame_tag :kpt_boards, class: 'vstack gap-2' do %>
    <%= render partial: 'kpt_board', collection: @kpt_boards %>
  <% end %>
</div>
