<div class="vstack gap-3">
  <%= render 'application/title', title: '日報編集' %>
  <%= render "form", daily_report: @daily_report %>
  <div>
    <%= link_to '一覧へ', daily_reports_path, class: 'btn btn-secondary' %>
  </div>
</div>
