<div class="vstack gap-3">
  <%= render 'application/title', title: '日報一覧' %>
  <div>
    <%= link_to '追加', new_daily_report_path, class: 'btn btn-primary' %>
  </div>
  <%= turbo_frame_tag :daily_reports, class: 'vstack gap-2' do %>
    <%= render partial: 'daily_report', collection: @daily_reports %>
  <% end %>
</div>
